/** Project constants. App-owned — never overwritten by template updates. */
export const PROJECT_NAME = "{{ project_name }}";
export const PROJECT_TITLE = "{{ project_title }}";
export const PROJECT_DESCRIPTION = "{{ project_description }}";
export const DEFAULT_BACKEND_PORT = {{ backend_port }};
export const DEFAULT_SSE_GATEWAY_PORT = {{ sse_gateway_port }};
export const DEFAULT_FRONTEND_PORT = {{ frontend_port }};
